# Heroes of Pymoli Data Analysis

* Observed Trend 1: 

The majority of the player base appears to be male, with the largest demographics lying between the ages 15 and 29. Of this range, the 20-24 year old demographic is the most prominent in terms of players base, and accounts for the largest number of purchases made per age range.
    

* Observed Trend 2:

There is a general trend of increased spending per player as the player's age increases. This is to say, the older the player is, the higher their average spend is on an item. One explanation for this trend could be that, with age, one accumulates more discretionary income to spend on things like in-game video game items. The notable excepts seem to be the age ranges 14 and under. They have inverse trends of the older groups and tend to spend more the younger they are. One explanation for this could be that these are children who aren't necessarily using their own funds to puchase items. Suggesting that these purchases might be made by or with the parent's consent (or without) and thus, result in a higher spend due to it being more of a "gift" or "treat".


* Observed Trend 3:

When it comes to individual items, the most popular/often bought items did not always translate into being the most profitable. While the "Betrayal, Whisper of Grieving Widows" item was the second most purchased item, it did not make the top 5 most profitable items, suggesting that the item could potentially use a price increase to take advantage the in high popularity to maximize the profitability. Additionally, the most profitable items all tend to be higher priced items that can cover the spread better per purchase while still maintaining a relatively cheap price-point compared to other items.

In [253]:
# Importing Essentials
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

# Take in all of our purchasing data and read it into pandas
purchase_file1 = os.path.join("Resources", "purchase_data.json")
purchase_file2 = os.path.join("Resources", "purchase_data2.json")

purchase_data1_df = pd.read_json(purchase_file1)
purchase_data2_df = pd.read_json(purchase_file2)

# Merging the Purchasing Data
combined_purchase_df = pd.concat([purchase_data1_df, purchase_data2_df])

# Player Count

In [244]:
# Finding the unique IDs and counting them
player_count = len(combined_purchase_df["SN"].value_counts())
player_count = pd.DataFrame({"Total Players": [player_count]})

player_count

   Total Players
0            612

# Purchasing Analytsis (Total)

In [245]:
# Number of Unique Items
unique_items = len(combined_purchase_df["Item Name"].value_counts())

# Average Purchase Price
avg_purchase_price = (sum(combined_purchase_df["Price"])/len(combined_purchase_df.index))

# Total Number of Purchases
total_purchases = len(combined_purchase_df.index)

# Total Revenue
total_revenue = sum(combined_purchase_df["Price"])

# Creating the output
purchasing_analysis_df = pd.DataFrame({'Number of Unique Items': [unique_items], 'Average Price': [avg_purchase_price],\
                                       'Number of Purchases': [total_purchases], 'Total Revenue': [total_revenue]})
purchasing_analysis_df.style.format({'Average Price': '${:.2f}', 'Total Revenue': '${:.2f}'})

# Gender Demographics

In [246]:
# Creating a Data Frame that has duplicate users removed
uniq_sn_df = combined_purchase_df.drop_duplicates(subset='SN', keep='first')

# Creating groups and calculating values for percent
gender_count_df = pd.DataFrame(uniq_sn_df['Gender'].groupby(uniq_sn_df['Gender']).count())
gender_percent_df = pd.DataFrame((uniq_sn_df['Gender'].groupby(uniq_sn_df['Gender']).count())/len(uniq_sn_df.index)*100)

# Renaming each dataframe before merging
gender_count_df.rename(columns={'Gender':'Total Count'}, inplace=True)
gender_percent_df.rename(columns={'Gender':'Percentage of Players'}, inplace=True)

# Merging the data frames
gender_combined_df = pd.concat([gender_percent_df, gender_count_df], axis=1)

# Formatting table
gender_combined_df.style.format({'Total Count':'{}', 'Percentage of Players':'{:.2f}%'})

# Purchasing Analysis (Gender)

In [247]:
# The below each broken by gender

# Purchase 
purchase_count_df = pd.DataFrame(combined_purchase_df['Gender'].groupby(combined_purchase_df['Gender']).count())
purchase_count_df.rename(columns={'Gender': 'Purchase Count'}, inplace=True)

# Average Purchase Price
avg_purchase_percent_df = pd.DataFrame(combined_purchase_df['Price'].groupby(combined_purchase_df['Gender']).mean())
avg_purchase_percent_df.rename(columns={'Price': 'Average Purchase Price'}, inplace=True)

# Total Purchase Value
total_purchase_value_df = pd.DataFrame(combined_purchase_df['Price'].groupby(combined_purchase_df['Gender']).sum())
total_purchase_value_df.rename(columns={'Price': 'Total Purchase Value'}, inplace=True)

# Normalized Totals
normalized_avg_purchase_df = pd.DataFrame((combined_purchase_df['Price'].groupby(combined_purchase_df['Gender']).sum())/ \
                                          uniq_sn_df['Gender'].groupby(uniq_sn_df['Gender']).count())
normalized_avg_purchase_df.rename(columns={0: 'Normalized Totals'}, inplace=True)

purchase_analysis_df = pd.concat([pd.concat([pd.concat([purchase_count_df, avg_purchase_percent_df], axis=1), \
                                  total_purchase_value_df], axis=1), normalized_avg_purchase_df], axis=1)

purchase_analysis_df.style.format({'Normalized Totals':'${:.2f}', 'Total Purchase Value':'${:.2f}', \
                                   'Average Purchase Price':'${:.2f}'})

# Age Demographics

In [248]:
# Breaking down age groups across all purchases

index= ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
bins = [0, 10, 14, 19, 24, 29, 34, 39, 200]

# Creating binned DF
age_demographics_bins_df = pd.DataFrame(pd.cut(uniq_sn_df['Age'], bins, labels=index))

# Creating a count DF
age_demographics_counts_df = pd.DataFrame(age_demographics_bins_df['Age'].value_counts())
age_demographics_counts_df.rename(columns={'Age': 'Total Count'}, inplace=True)

# Creating a percent for each age bin
age_demographics_percent_df = pd.DataFrame(age_demographics_bins_df['Age'].value_counts() / len(uniq_sn_df.index) * 100)
age_demographics_percent_df.rename(columns={'Age': 'Percentage of Players'}, inplace=True)

# Merging the dataframes to make one big one
age_demographics_combined_df = pd.concat([age_demographics_percent_df, age_demographics_counts_df], axis=1)

# Reformatting the dataframe
age_demographics_combined_df.sort_index(inplace=True)
age_demographics_combined_df.style.format({'Percentage of Players':'{:.2f}%'})

# Purchasing Analysis (Age)

In [249]:
# Creating new Age Group column to collective DF
combined_purchase_df['Age Group'] = pd.DataFrame(pd.cut(combined_purchase_df['Age'], bins, labels=index))

# Purchase Count
group_purchase_count_df = pd.DataFrame(combined_purchase_df['Gender'].groupby(combined_purchase_df['Age Group']).count())

# Average Purchase Price
group_avg_purchase_price_df = pd.DataFrame(combined_purchase_df['Price'].groupby(combined_purchase_df['Age Group']).mean())

# Total Purchase Value
group_total_purchase_value_df = pd.DataFrame(combined_purchase_df['Price'].groupby(combined_purchase_df['Age Group']).sum())

# Normalized Totals
group_normalized_totals_df = pd.DataFrame((combined_purchase_df['Price'].groupby(combined_purchase_df['Age Group']).sum())/ \
                                         age_demographics_combined_df['Total Count'])

# Merging all data
group_combined_df = pd.DataFrame(pd.concat([pd.concat([pd.concat([group_purchase_count_df, group_avg_purchase_price_df], \
                                  axis=1), group_total_purchase_value_df], axis=1), group_normalized_totals_df], axis=1))

# Formatting final data
#group_combined_df.rename(columns={'Total Purchase Value':'TEST'}, inplace=True)
group_combined_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']
group_combined_df.style.format({'Purchase Count': '{}', 'Average Purchase Price':'${:.2f}', \
                                'Total Purchase Value':'${:.2f}', 'Normalized Totals': '${:.2f}'})

# Top Spenders

In [250]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

# Purchase Count
top_purchase_count_df = pd.DataFrame(combined_purchase_df['Price'].groupby(combined_purchase_df['SN']).count())

# Average Purchase Price
top_avg_price_df = pd.DataFrame(combined_purchase_df['Price'].groupby(combined_purchase_df['SN']).mean())

# Total Purchase Value
top_total_value_df = pd.DataFrame(combined_purchase_df['Price'].groupby(combined_purchase_df['SN']).sum())

top_spenders_df = pd.DataFrame(pd.concat([top_purchase_count_df, top_avg_price_df], axis=1))
top_spenders_df = pd.DataFrame(pd.concat([top_spenders_df, top_total_value_df], axis=1))


top_spenders_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
top_spenders_df.sort_values(by='Total Purchase Value', ascending=False).head(5).style.format({'Purchase Count': '{}', 'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

# Most Popular Items

In [251]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Grabbing Item ID, Name and purchase count
top_items_count_df = pd.DataFrame(combined_purchase_df['Age'].groupby([combined_purchase_df['Item ID'], \
                                                    combined_purchase_df['Item Name']]).count())

# Item Price
top_item_prices_df = pd.DataFrame(combined_purchase_df['Price'].groupby([combined_purchase_df['Item ID'], \
                                                    combined_purchase_df['Item Name']]).mean())

# Total Purchase Value
top_item_total_value_df = pd.DataFrame(combined_purchase_df['Price'].groupby([combined_purchase_df['Item ID'], \
                                                    combined_purchase_df['Item Name']]).sum())

# Mergine DFs together
top_item_combined_df = pd.DataFrame(pd.concat([top_items_count_df, top_item_prices_df], axis=1))
top_item_combined_df = pd.DataFrame(pd.concat([top_item_combined_df, top_item_total_value_df], axis=1))


top_item_combined_df.columns = ['Purchase Count', 'Item Price', 'Total Purchase Value']
top_item_combined_df.sort_values(by=['Purchase Count', 'Total Purchase Value'], ascending=False).head(5).style.format({'Purchase Count': '{}', 'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

# Most Profitable Items

In [252]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Calling previous DF and resorting/reformatting

top_item_combined_df.sort_values(by='Total Purchase Value', ascending=False).head(5).style.format({'Purchase Count': '{}', 'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})